{% extends 'base.html' %}
{% block body %}
    
    <div class="container">
      <h2>Add a Todo</h2>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">ToDo Title</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">ToDo Description</label>
          <input type="text" class="form-control" id="desc" name="desc" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container my-3">
      <h2>Your Todos</h2>
      <table class="table">
       
        <tbody>
            {% if alltodo|length==0 %}
                    <h4>No records</h4>
                {% else %}
                <thead>
                    <tr>
                      <th scope="col">SNO</th>
                      <th scope="col">Title</th>
                      <th scope="col">Desc</th>
                      <th scope="col">Time</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                    
          {% for todo in alltodo %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{todo.title}}</td>
            <td>{{todo.desc}}</td>
            <td>{{todo.date_created}}</td>
            <td>
                <a href="/update/{{todo.sno}}"><button type="button" class="btn btn-info btn-sm mx-2">Update</button></a>
                <a href="/delete/{{todo.sno}}"><button type="button" class="btn btn-dark btn-sm">Delete</button></a>

            </td>
          </tr>
          {% endfor %}
          {% endif %}

        </tbody>
      </table>
    </div>

    {% endblock body %}
